$primary: #00b140;
$primary_complementary: #00e452;
$secondary: #004B44;
$secondary_complementary: #7fa5a1;
$third: #EB3738;
$fourth: #E1523D;
$fifth: #00A3E0;

$menu1: #293949;
$menu2: #374d62;
$menu3: #45607b;

$grey: #dadada;
$text: #3e3e3e;


$headerSize: 80px;
$BoxSizeGrid: 200px;
